body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0000ff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #0000ff;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.content h2 {
    margin-top: 0;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #0000ff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

input[type="button"]{
	border: none;
	background-color: pink;
	color: red;
	
}
input[type="button"]:hover{
	background-color: aqua;
}



